:root {
  --color-primary: #1abe4d;
  --textPrimary: #ddd;
  --textSecondary: rgb(113, 113, 113);
  --bgtoptext: rgb(147, 147, 147);
  --bgPrimary: #12191c;
  --bgsecondary: #1d232f;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



::-webkit-scrollbar {
  display: none;
}




html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: var(--bgPrimary);
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  width: 80%;
  margin: auto;
}


.into {
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: 18px;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, var(--color-primary), #85d9a0);
}

.heading {
  color: var(--textPrimary);
  font-size: 44px;
  margin-bottom: 15px;


  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #fff, #838383);
}


.swiper-pagination-bullet {
  background: var(--bgtoptext) !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}








/*do card component*/
.docardIcon {
  color: var(--color-primary) !important;
  font-size: 44px !important;
  margin-bottom: 15px !important;
}

.justforIconsHoverInglobalcss:hover .docardIcon{
  color: #fff!important;
  animation: doCardinsideAnimationJustForIcon .2s forwards;
}

.justforIconsHoverInglobalcss:hover .docardIcon{
  color: #fff!important;
  animation: doCardinsideAnimationJustForIcon .2s forwards;
}


/* singleLinkForContact conponnent css */
.LinkIcons{
  color: var(--textPrimary);
  font-size: 24px;
}




/* for do card just for icon */
@keyframes doCardinsideAnimationJustForIcon {
  from {
      transform: translateY(15px);
      opacity: 0;
  }

  to {
      transform: translateY(-5px);
      opacity: 1;
  }
}










@media (min-width:1440px) {

  .container {
    width: 1200px;
  }
}




@media (max-width:768px) {
  .container {
    width: 90%;
  }

}


@media (max-width:590px) {
  .into {
    font-size: 16px;
  }

  .heading {
    font-size: 35.5px;
  }

}

@media (max-width:424px) {
  .into {
    font-size: 15px;
  }

  .heading {
    font-size: 30px;
  }

}