:root {
  --color-primary: #1abe4d;
  --textPrimary: #ddd;
  --textSecondary: rgb(113, 113, 113);
  --bgtoptext: rgb(147, 147, 147);
  --bgPrimary: #0f131a;
  --bgsecondary: #1d232f;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 600px;
}

::-webkit-scrollbar-thumb:hover {
  background: #138336;
}

::-webkit-scrollbar-track {
  background: var(--bgPrimary);
}



html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--bgPrimary);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}


.into {
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: 18px;
  color: var(--color-primary);
}

.heading {
  color: var(--textPrimary);
  font-size: 44px;
  margin-bottom: 15px;
}


.swiper-pagination-bullet {
  background: var(--bgtoptext) !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-primary) !important;
}




@media (min-width:1440px) {

  .container {
    width: 1200px;
  }
}




@media (max-width:768px) {
  .container {
    width: 90%;
  }

}


@media (max-width:590px) {
  .into {
    font-size: 16px;
  }

  .heading {
    font-size: 35.5px;
  }

}

@media (max-width:424px) {
  .into {
    font-size: 15px;
  }

  .heading {
    font-size: 30px;
  }

}