/* what i do section */
.dowrper {
    transform: translateY(100px);
    margin-bottom: 80px;
}


.para {
    font-size: 23px;
    color: var(--textSecondary);
}

.doCardWrper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}





@media (max-width:900px) {

    .doCardWrper {
        grid-template-columns: 1fr 1fr;
    }
}




@media (max-width:590px) {


    .para {
        font-size: 20px;
    }

    .doCardWrper {
        grid-template-columns: 1fr;
    }
}

@media (max-width:424px) {


    .para {
        font-size: 18px;
    }
}