.footer {
    margin-top: 50px;
    color: #fff;
    border-top: 1px solid #2f2f2f;
}

.container {
    width: 80%;
    margin: auto;
}

.footerWrp {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    align-items: center;
    gap: 20px;
}

.footerWrp>div {
    width: 100%;
}


.copyRightErp {
    border-top: 1px solid #202020;
}

.copyRightErp>p {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 500;
    color: #6d6d6d;
}

.footerlogoWrp {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerlogoWrp>img {
    width: 400px;
    height: auto;
}




@media (max-width:768px) {

    .footerlogoWrp {
        margin: 0 0;
    }

    .footerlogoWrp>img {
        width: 350px;
    }


    .copyRightErp {
        width: 80%;
        margin: auto;
    }

}