/* hero section */
.herowrp {
    display: grid;
    align-items: center;
    grid-template-areas: "text image";
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 650px;
    transform: translateY(88px);
    margin-bottom: 80px;
}

.into {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-size: 18px;
    color: var(--color-primary);
}

.info {
    margin-top: 40px;

}

.info>h3 {
    padding-bottom: 10px;
    font-size: 30px;
    color: var(--textPrimary);
}

.info>h1 {
    font-size: 60px;
    color: var(--textPrimary);
}

.info>h2 {
    font-size: 40px;
    color: var(--color-primary);
}

.info>p {
    padding-top: 25px;
    font-size: 23px;
    color: var(--textSecondary);
}


.text {
    grid-area: text;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
}

.heroImageWrper {
    width: 340px;
    height: 340px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    background-color: var(--textPrimary);
}

.secheroImageWrp {
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.img {
    width: 100%;
    aspect-ratio: 1/16;
    height: 100%;
    border: 1px solid rgb(164, 164, 164);
    filter: grayscale(80%);
}









@media (max-width:1024px) {
    .herowrp {
        transform: translateY(100px);
        height: fit-content;
        grid-template-areas:
            "image image"
            "text text";
    }

    .into {
        text-align: center;
        padding-top: 10px;
    }

}




@media (max-width:590px) {

    .into {
        font-size: 16px;
    }

    .info>h3 {
        font-size: 26px;
    }

    .info>h1 {
        font-size: 50px;
    }

    .info>h2 {
        font-size: 35.5px;
    }

    .info>p {
        font-size: 20px;
    }
}

@media (max-width:424px) {

    .into {
        font-size: 15px;
    }

    .info>h3 {
        font-size: 23px;
    }

    .info>h1 {
        font-size: 44px;
    }

    .info>h2 {
        font-size: 30px;
    }

    .info>p {
        font-size: 18px;
    }
}