/* herobtns component */
.hersbtnsWrp {
    width: 100%;
    display: flex;
    grid-gap: 70px;
    align-items: center;
    margin-top: 80px;
}

.leftBtnWrp {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.leftBtnWrp>p {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-size: 19px;
    color: var(--textPrimary);
}

.leftBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    grid-gap: 16px;
}

.leftAndRightLink {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: var(--textPrimary);
    transition: all .4s;
}

.leftAndRightLink:hover {
    background-color: var(--color-primary);
    animation: herobtnanimation .3s forwards;
}

.leftAndRightLink:hover .leftIcons {
    color: #fff !important;
    animation: herobtnanimation .3s forwards;
}

.leftAndRightLink:hover .rightIcons {
    color: #fff !important;
    animation: herobtnanimation .3s forwards;
}

.leftIcons {
    font-size: 30px !important;
    color: rgb(47, 47, 47);
}

.rightIcons {
    font-size: 30px !important;
    color: rgb(47, 47, 47);
}





/* for hero btn */
@keyframes herobtnanimation {
    from {
        transform: translateY(13px);
        opacity: 0;
    }

    to {
        transform: translateY(-2px);
        opacity: 1;
    }
}







@media (max-width:1024px) {
    .hersbtnsWrp {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

    }


}



@media (max-width:768px) {
    .hersbtnsWrp {
        margin-top: 40px;
    }
}



@media (max-width:590px) {

    .leftBtnWrp>p {
        font-size: 17px;
    }

    .leftBtnWrp {
        grid-gap: 5px !important;
    }

    .leftBtnWrp>p {
        font-size: 18px;
    }

    .leftAndRightLink {
        height: 40px;
        width: 40px;
    }

    .leftIcons {
        font-size: 25px !important;
    }

    .rightIcons {
        font-size: 25px !important;
    }

}

@media (max-width:424px) {

    .leftBtnWrp>p {
        font-size: 16px;
    }

    .hersbtnsWrp {
        margin-top: 34px;
    }

    .leftBtns {
        grid-gap: 10px !important;
    }

    .leftAndRightLink {
        height: 35px !important;
        width: 35px !important;
    }

}

@media (max-width:375px) {
    .leftAndRightLink {
        height: 30px !important;
        width: 30px !important;
    }
}