/* recent projects */
.projctsWrp {
    transform: translateY(100px);
    margin-bottom: 80px !important;
}

.heading {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 10px;
}



.projectsCardWrp {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.docardIcon {
    color: var(--color-primary) !important;
    font-size: 44px !important;
    margin-bottom: 15px !important;
}




@media (max-width:900px) {

    .projectsCardWrp {
        grid-template-columns: 1fr 1fr;
    }
}




@media (max-width:590px) {



    .projectsCardWrp {
        grid-template-columns: 1fr;
    }
}