.reviews {
    transform: translateY(100px);
    margin-bottom: 140px !important;
}

.reviewsCardWrp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    height: fit-content !important;
    padding-bottom: 50px;
}

.reviewProfile {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--bgsecondary);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
}
.reviewerImage{
    width: 100%;
    height: 220px;
    border-radius: 5px;
    filter: grayscale(50%);
    aspect-ratio: auto;
}

.reviewProfilePhoto {
    background: #0a622653;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;

}

.reviewProfileIcon {
    position: absolute;
    bottom: 0;
    font-size: 200px;
    color: #105d29cb !important;
}

.profileinfo {
    padding-top: 15px;
}

.profileinfo>h2 {
    padding: 15px 0;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #fff, #838383);
}

.profileinfo>p {
    font-size: 18px;
    color: var(--bgtoptext);
}

.reciewDitailse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    height: 100%;
}

.reviewController {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.quoteIcon {
    font-size: 90px !important;
    color: var(--bgsecondary) !important;
}

.arrowbtns {
    display: flex;
    grid-gap: 30px;
    cursor: pointer;
}

.arrowbtns>div {
    height: 55px;
    width: 55px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: var(--bgsecondary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;

}

.arrowbtns>div:hover {
    background-color: var(--color-primary);
}

.arrowbtns>div:hover .rightAndLedtWArrowIcons {
    color: #fff !important;
}

.rightAndLedtWArrowIcons {
    color: var(--color-primary);
    font-size: 25px !important;
}

.reviewditaiseinfo {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    background-color: var(--bgsecondary);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 0;
    height: fit-content;
}

.reviewdetailseInfoheading {
    display: grid;
    grid-template-columns: 1fr 110px;
    align-items: center;
    grid-gap: 15px;
}

.reviewdetailseInfoheading>div>h2 {
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #fff, #838383);
}

.reviewdetailseInfoheading>div>p {
    padding-top: 10px;
    font-size: 20px;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, #fff, #838383);
}

.reviewdetailseInfoheading>div>p>b {
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(180deg, var(--color-primary), #85d9a0);
}

.reviewditaiseinfo>div {
    margin: 0 20px;
}

.starIcon {
    color: rgb(201, 164, 0) !important;
    font-size: 22px !important;
}

.reviewdetailseInfoditailse {
    display: flex;
    align-items: center;
}

.reviewdetailseInfoditailse>p {
    font-size: 18px;
    color: var(--bgtoptext);
}






@media (max-width:1024px) {

    .reviewsCardWrp {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-rows: 450px 320px;
        padding-bottom: 0px;
    }


    .reviewController {
        display: none;
    }





}


@media (max-width:768px) {
    .reviewsCardWrp {
        grid-template-rows: 400px 350px;
    }
}


@media (max-width:590px) {
    .reviewsCardWrp {
        grid-template-rows: 400px 450px;
    }
}

@media (max-width:450px) {
    .reviewsCardWrp {
        grid-template-rows: 400px 480px;
        padding-bottom: 50px;
    }
}